body{
    margin: 0;
    padding: 0;
}

/* Logo do cabeçalho */
header img{
    height: 90px;
}

/* Cabeçalho */
header{
    background-color: lightblue;

    height: 90px;

    padding: 15px 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Div onde está o campo de texto e o botão de buscar linha */
.buscar_linha{
    width: 100%;

    padding: 20px;
    border-radius: 15px;

    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
}

/* Campo de texto da linha */
#campo_digita{
    width: 60%;
    max-width: 400px;

    background-color: white;

    padding: 10px 18px;
    border-radius: 20px;

    box-shadow: 0 0 20px rgba(0,0,0,0.15);

    display: flex;

    outline: none;
    border: 2px solid blue;
}

/* Manter a cor da borda do texto de busca quando o usuário estiver em modo focus */
#campo_digita:focus{
    outline: none;
    border: 2px solid rgb(0, 68, 255);
}

/* Botão de busca da linha */
#botao_buscar{
    background-color: white;

    padding: 10px 18px;
    border-radius: 12px;

    outline: none;
    border: none;

    font-weight: bold;
}

/* Dar animação pro botão quando passar o mouse por cima */
#botao_buscar:hover{
    background-color: rgb(240, 240, 240);
    transform: scale(1.03);
}

/* Aqui começa a parte principal do site */
.hero{
    display: flex;

    background-color: rgb(1, 46, 75);

    height: 100vh;
    gap: 30px;

    align-items: center;
    justify-content: center;

    padding: 30px;
}

/* Configurações da visualização do mapa (Leaflet) */
#map{
    width: 80vw;
    max-width: 1200px;
    height: 80vh;
    max-height: 900px;
    border-radius: 15px;
    display: block;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

/* Fim das configurações de mapa :) */